<header class='header'>
  {{> _rt-svg}}
  <h1 class='header-title'>
    the
    website
    of
    <br>
    Rob Tarr
  </h1>
  <section class='aboutMe'>
    <div class='aboutMe-wrapper'>
      <h2 class='aboutMe-title'>
        I am a developer at
        <a href='//seesparkbox.com'>Sparkbox</a>
        in Dayton,&nbspOH.
      </h2>
      <p>
        I get to work on things like
        <a href='//github.com/sparkbox/mediacheck'>Mediacheck</a>,
        the
        <a href='//github.com/sparkbox/mediaQueryBookmarklet'>Mediaquery Bookmarklet</a>,
        and write lots of JavaScript.
      </p>
      <p>
        I spend most of my time writing JavaScript, building server side solutions, and trying to push the
        limits of what I know. I also like creating tools for developers and building robots.
      </p>
      <p>
        If you'd like to chat, you can find me on Twitter
        <a href='//twitter.com/robtarr'>@robtarr</a>
        or
        <a href='mailto:rob@robtarr.net'>rob@robtarr.net</a>.
      </p>
    </div>
    <img class='aboutMe-pic' src='/images/rob.jpg'>
  </section>
</header>
