<!DOCTYPE html>
<html>
<head>
  <title>robtarr.net</title>
  <meta charset='utf-8'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link href='/images/favicon.ico' rel='shortcut icon'>
  <link href='/images/favicon.ico' rel='apple-touch-icon'>
  <link rel="stylesheet" href="/css/mq.css"></link>
  <script>
    var id = '{{ga}}';
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', id]);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class='page-wrapper'>
    {{> _gpg-header}}

    <section class='recent'>
      <h2>GPG Key for rob@robtarr.net</h2>
      <code>
        {{> _gpg_robtarr-net}}
      </code>
      <h2>GPG Key for tarr@heysparkbox.com</h2>
      <code>
        {{> _gpg_heysparkbox-com}}
      </code>
    </section>
  </div>
</body>
</html>
