$primary: #0d832d;
$secondary: #05500c;

$c-body: $primary;

$c-nav-icon: $primary;
$c-nav-icon-open: $secondary;
$c-nav-background: $primary;
$c-nav-text: #f2f4e4;

$c-header: #868687;
$c-header-text: white;

$c-aboutMe-pic-border: #fff;

$c-recent: $primary;
$c-recent-text: #f2f4e4;
$c-recent-separator: $secondary;
$c-recent-icon: $secondary;

$c-otherThings: $secondary;
$c-otherThings-text: #f2f4e4;
$c-otherThings-icon: $primary;
$c-otherThings-externalLink: $primary;
$c-otherThings-separator: $secondary;
$c-otherThings-subCategory: $primary;


$c-blogPost-title: #868687;
$c-blogPost-date: #868687;
