.icon {
	display: inline-block;
	height: 2.5em;
	fill: $secondary;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-speaking {
	fill: $primary;
	top: 0.5em;
	position: relative;
}

.icon-projects {
	fill: $primary;
	top: 0.5em;
	position: relative;
}

.icon-github {
	// width: 1.298828125em;
}

.icon-twitter {
	// width: 1.23046875em;
}

.icon-books {
	// height: 1.3em;
	// width: 1.23046875em;
}
